In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import json

In [2]:
# Load the csv exported in Part I to a DataFrame
diversity_df = pd.read_csv("Data\Employee Diversity in Tech.csv",sep="\t")
tech_salaries = pd.read_csv("Data\Top tech companies comparison 2014_2015.csv")

# salary_survey
diversity_df

,Date,Type,Company,Female %,Male %,% White,% Asian,% Latino,% Black,% Multi,% Other,% Undeclared
0,2014,Country,U.S. Population,50.79,49.21,64.0,4.0,16.0,12.0,1.0,3.00,NaN
1,2014,Social Media,Facebook,31.00,69.00,57.0,34.0,4.0,2.0,3.0,-,NaN
2,2014,Social Media,Instagram,31.00,69.00,57.0,34.0,4.0,2.0,3.0,-,NaN
3,2014,Social Media,Google+,30.00,70.00,61.0,30.0,3.0,2.0,4.0,NaN,NaN
4,2014,Social Media,YouTube,30.00,70.00,61.0,30.0,3.0,2.0,4.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
157,May 2018,Tech,Netflix,43.00,57.00,49.0,24.0,6.0,4.0,NaN,4.00,13.0
158,May 2018,Tech,Yelp,54.00,46.00,62.0,15.0,10.0,6.0,5.0,2.00,NaN
159,May 2018,Entity,DiversityInc top 50,44.00,56.00,78.0,6.0,7.0,9.0,NaN,NaN,NaN
160,May 2018,Entity,Fortune 500 CEOs,6.00,94.00,73.0,21.0,3.0,2.0,0.5,0.50,NaN
161,May 2018,Government,US Congress,20.00,80.00,80.0,3.0,7.0,9.0,NaN,1.00,NaN

In [3]:
tech_diversity = diversity_df[diversity_df["Type"] == "Tech"]
tech_div_summary = tech_diversity.groupby("Company").mean()
tech_div_summary

,Female %,Male %,% White,% Asian,% Latino,% Black,% Multi,% Undeclared
Company,,,,,,,,
AirBnB,41.150000,59.000000,49.810,36.360000,7.440000,3.450000,2.520,NaN
Amazon,37.800000,62.200000,55.200,13.000000,10.600000,17.400000,NaN,NaN
Apple,31.400000,68.600000,54.600,18.800000,12.000000,8.400000,2.400,4.20
Cisco,23.400000,76.600000,53.600,37.000000,5.000000,4.000000,1.000,NaN
Dell,29.200000,71.070000,68.650,9.110000,11.140000,10.040000,NaN,NaN
Etsy,52.500000,47.500000,79.000,10.500000,4.000000,3.000000,3.500,NaN
Google,30.600000,69.400000,57.800,32.800000,3.400000,2.200000,3.600,NaN
Groupon,45.800000,54.200000,67.400,17.000000,6.200000,5.600000,NaN,NaN
HP,34.600000,65.400000,72.400,8.400000,11.600000,5.800000,1.400,NaN
Indiegogo,47.000000,53.000000,61.600,25.000000,7.600000,2.800000,NaN,NaN
Ingram Micro,37.600000,62.532000,58.618,11.912000,17.020000,11.678000,1.000,NaN
Intel,25.500000,74.744000,55.646,30.930000,8.738000,3.766000,0.600,NaN
Microsoft,27.400000,72.600000,58.120,29.740000,5.460000,3.700000,1.520,NaN
Netflix,43.000000,57.000000,49.000,24.000000,6.000000,4.000000,NaN,13.00
Nvidia,16.430000,83.570000,37.600,44.400000,3.000000,1.000000,14.000,NaN
Pandora,49.000000,51.000000,68.600,13.600000,7.400000,3.800000,5.600,NaN
Salesforce,29.780000,70.140000,66.138,22.774000,3.980000,2.306000,2.312,1.99
Slack,44.700000,55.300000,58.700,24.400000,6.900000,4.900000,4.400,NaN
Uber,36.733333,63.266667,49.400,31.366667,5.766667,8.566667,4.300,NaN
Yahoo!,37.000000,62.400000,47.400,41.800000,4.000000,2.000000,2.000,1.00
Yelp,54.000000,46.000000,62.000,15.000000,10.000000,6.000000,5.000,NaN
eBay,41.200000,58.800000,56.600,30.600000,5.000000,5.600000,1.000,NaN

In [4]:
tech_companies = list(tech_diversity["Company"].unique())
tech_companies

['Yahoo!',
 'Google',
 'Apple',
 'Cisco',
 'eBay',
 'HP',
 'Indiegogo',
 'Nvidia',
 'Dell',
 'Ingram Micro',
 'Intel',
 'Groupon',
 'Amazon',
 'Salesforce',
 'Pandora',
 'Microsoft',
 'Etsy',
 'Uber',
 'Slack',
 'AirBnB',
 'Netflix',
 'Yelp']

In [5]:
# tech_salaries_df = tech_salaries_df.dropna(subset =["NA","NaN"])
# 

# tech_salaries = tech_salaries[["Early Career Median Pay","Mid-Career Median Pay"]].apply(pd.to_numeric)

# tech_salaries = tech_salaries[tech_salaries["Mid-Career Median Pay"]!="NA"]

# # tech_salaries.drop(tech_salaries[["Mid-Career Median Pay"]=="NA"])
tech_salaries

,Employer Name,Early Career Median Pay,Mid-Career Median Pay,Median Age,Years of Experience,Years with Company,% Female,% High Job Satisfaction,% High Job Meaning,% High Job Stress
0,HP,"$65,400","$104,200",38,7.7,6.3,32%,64%,41%,56%
1,Oracle,"$71,400","$126,400",37,9.0,5.3,29%,64%,32%,56%
2,IBM,"$72,700","$112,700",36,7.4,7.1,25%,59%,40%,62%
3,Microsoft,"$102,500","$139,700",33,6.4,4.8,27%,72%,59%,58%
4,Qualcomm,"$94,400","$132,500",33,7.7,4.3,20%,69%,50%,62%
5,Cisco,"$83,800","$134,700",33,6.7,4.0,23%,76%,60%,52%
6,eBay,"$88,900","$136,000",33,6.9,2.7,43%,78%,55%,66%
7,Samsung,"$65,900","$143,000",33,6.0,2.3,37%,64%,36%,69%
8,Intel,"$85,800","$129,400",32,5.5,5.0,25%,72%,66%,61%
9,Adobe,"$91,900","$141,900",31,5.2,3.3,28%,84%,24%,47%
10,Apple,"$91,300","$145,400",31,6.0,2.7,31%,73%,74%,66%
11,Amazon,"$81,900","$130,400",30,5.2,2.0,26%,69%,42%,66%
12,Google,"$106,900","$151,600",30,5.2,2.0,30%,89%,72%,53%
13,Salesforce,"$84,800","$154,600",30,5.3,1.8,30%,89%,54%,55%
14,Tesla,"$81,400","$118,500",30,5.6,1.6,20%,70%,89%,70%
15,LinkedIn,"$110,800","$159,600",29,5.0,NaN,42%,NaN,NaN,NaN
16,SpaceX,"$78,500",NA,29,6.1,2.3,14%,73%,92%,88%
17,Facebook,"$116,800","$149,300",29,4.3,1.1,32%,96%,78%,44%

In [6]:
# tech_salaries = tech_salaries.replace("$",'')

tech_salaries[["Early Career Median Pay","Mid-Career Median Pay"]] = tech_salaries[["Early Career Median Pay","Mid-Career Median Pay"]].replace('[\$\,\.]',"",regex=True).astype(int)

ValueError: invalid literal for int() with base 10: ' NA '

In [13]:
tech_salaries

,Employer Name,Early Career Median Pay,Mid-Career Median Pay,Median Age,Years of Experience,Years with Company,% Female,% High Job Satisfaction,% High Job Meaning,% High Job Stress
0,HP,65400,"$104,200",38,7.7,6.3,32%,64%,41%,56%
1,Oracle,71400,"$126,400",37,9.0,5.3,29%,64%,32%,56%
2,IBM,72700,"$112,700",36,7.4,7.1,25%,59%,40%,62%
3,Microsoft,102500,"$139,700",33,6.4,4.8,27%,72%,59%,58%
4,Qualcomm,94400,"$132,500",33,7.7,4.3,20%,69%,50%,62%
5,Cisco,83800,"$134,700",33,6.7,4.0,23%,76%,60%,52%
6,eBay,88900,"$136,000",33,6.9,2.7,43%,78%,55%,66%
7,Samsung,65900,"$143,000",33,6.0,2.3,37%,64%,36%,69%
8,Intel,85800,"$129,400",32,5.5,5.0,25%,72%,66%,61%
9,Adobe,91900,"$141,900",31,5.2,3.3,28%,84%,24%,47%
10,Apple,91300,"$145,400",31,6.0,2.7,31%,73%,74%,66%
11,Amazon,81900,"$130,400",30,5.2,2.0,26%,69%,42%,66%
12,Google,106900,"$151,600",30,5.2,2.0,30%,89%,72%,53%
13,Salesforce,84800,"$154,600",30,5.3,1.8,30%,89%,54%,55%
14,Tesla,81400,"$118,500",30,5.6,1.6,20%,70%,89%,70%
15,LinkedIn,110800,"$159,600",29,5.0,NaN,42%,NaN,NaN,NaN
16,SpaceX,78500,NA,29,6.1,2.3,14%,73%,92%,88%
17,Facebook,116800,"$149,300",29,4.3,1.1,32%,96%,78%,44%

In [7]:
x = tech_salaries["Employer Name"]
y1 = tech_salaries["Early Career Median Pay"]
y2 = tech_salaries["Mid-Career Median Pay"]
width = 0.5       # the width of the bars: can also be len(x) sequence

fig, ax = plt.subplots()

plt.bar(x, y1, label='Early Career',color='b')
plt.bar(x, y2, bottom=y1,color='y')

# ax.set_ylabel('Annual Salaries')
# ax.set_title('Median Salaries by Company')
# ax.legend()

# plt.show()

TypeError: only size-1 arrays can be converted to Python scalars