In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

In [4]:
# Load the csv exported in Part I to a DataFrame
diversity_df = pd.read_csv("Data\Employee Diversity in Tech.csv",sep="\t")
diversity_df

,Date,Type,Company,Female %,Male %,% White,% Asian,% Latino,% Black,% Multi,% Other,% Undeclared
0,2014,Country,U.S. Population,50.79,49.21,64.0,4.0,16.0,12.0,1.0,3.00,NaN
1,2014,Social Media,Facebook,31.00,69.00,57.0,34.0,4.0,2.0,3.0,-,NaN
2,2014,Social Media,Instagram,31.00,69.00,57.0,34.0,4.0,2.0,3.0,-,NaN
3,2014,Social Media,Google+,30.00,70.00,61.0,30.0,3.0,2.0,4.0,NaN,NaN
4,2014,Social Media,YouTube,30.00,70.00,61.0,30.0,3.0,2.0,4.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
157,May 2018,Tech,Netflix,43.00,57.00,49.0,24.0,6.0,4.0,NaN,4.00,13.0
158,May 2018,Tech,Yelp,54.00,46.00,62.0,15.0,10.0,6.0,5.0,2.00,NaN
159,May 2018,Entity,DiversityInc top 50,44.00,56.00,78.0,6.0,7.0,9.0,NaN,NaN,NaN
160,May 2018,Entity,Fortune 500 CEOs,6.00,94.00,73.0,21.0,3.0,2.0,0.5,0.50,NaN
161,May 2018,Government,US Congress,20.00,80.00,80.0,3.0,7.0,9.0,NaN,1.00,NaN

In [11]:
tech_diversity = diversity_df[diversity_df["Type"] == "Tech"]
tech_diversity

,Date,Type,Company,Female %,Male %,% White,% Asian,% Latino,% Black,% Multi,% Other,% Undeclared
10,2014,Tech,Yahoo!,37.00,62.0,50.00,39.00,4.00,2.00,2.00,2.00,NaN
11,2014,Tech,Google,30.00,70.0,61.00,30.00,3.00,2.00,4.00,NaN,NaN
12,2014,Tech,Apple,30.00,70.0,55.00,15.00,11.00,7.00,2.00,1.00,9.0
13,2014,Tech,Cisco,23.00,77.0,54.00,NaN,NaN,NaN,NaN,NaN,NaN
14,2014,Tech,eBay,42.00,58.0,61.00,24.00,5.00,7.00,1.00,1.00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
154,May 2018,Tech,Uber,38.00,62.0,48.60,32.30,6.10,8.10,4.30,0.70,NaN
155,May 2018,Tech,Slack,44.70,55.3,58.70,24.40,6.90,4.90,4.40,0.70,NaN
156,May 2018,Tech,AirBnB,41.15,59.0,49.81,36.36,7.44,3.45,2.52,0.50,NaN
157,May 2018,Tech,Netflix,43.00,57.0,49.00,24.00,6.00,4.00,NaN,4.00,13.0
158,May 2018,Tech,Yelp,54.00,46.0,62.00,15.00,10.00,6.00,5.00,2.00,NaN

In [15]:
tech_companies = list(tech_diversity["Company"].unique())
tech_companies

['Yahoo!',
 'Google',
 'Apple',
 'Cisco',
 'eBay',
 'HP',
 'Indiegogo',
 'Nvidia',
 'Dell',
 'Ingram Micro',
 'Intel',
 'Groupon',
 'Amazon',
 'Salesforce',
 'Pandora',
 'Microsoft',
 'Etsy',
 'Uber',
 'Slack',
 'AirBnB',
 'Netflix',
 'Yelp']

In [17]:
tech_div_summary = tech_diversity.groupby("Company").mean()
tech_div_summary

,Female %,Male %,% White,% Asian,% Latino,% Black,% Multi,% Undeclared
Company,,,,,,,,
AirBnB,41.150000,59.000000,49.810,36.360000,7.440000,3.450000,2.520,NaN
Amazon,37.800000,62.200000,55.200,13.000000,10.600000,17.400000,NaN,NaN
Apple,31.400000,68.600000,54.600,18.800000,12.000000,8.400000,2.400,4.20
Cisco,23.400000,76.600000,53.600,37.000000,5.000000,4.000000,1.000,NaN
Dell,29.200000,71.070000,68.650,9.110000,11.140000,10.040000,NaN,NaN
Etsy,52.500000,47.500000,79.000,10.500000,4.000000,3.000000,3.500,NaN
Google,30.600000,69.400000,57.800,32.800000,3.400000,2.200000,3.600,NaN
Groupon,45.800000,54.200000,67.400,17.000000,6.200000,5.600000,NaN,NaN
HP,34.600000,65.400000,72.400,8.400000,11.600000,5.800000,1.400,NaN
Indiegogo,47.000000,53.000000,61.600,25.000000,7.600000,2.800000,NaN,NaN
Ingram Micro,37.600000,62.532000,58.618,11.912000,17.020000,11.678000,1.000,NaN
Intel,25.500000,74.744000,55.646,30.930000,8.738000,3.766000,0.600,NaN
Microsoft,27.400000,72.600000,58.120,29.740000,5.460000,3.700000,1.520,NaN
Netflix,43.000000,57.000000,49.000,24.000000,6.000000,4.000000,NaN,13.00
Nvidia,16.430000,83.570000,37.600,44.400000,3.000000,1.000000,14.000,NaN
Pandora,49.000000,51.000000,68.600,13.600000,7.400000,3.800000,5.600,NaN
Salesforce,29.780000,70.140000,66.138,22.774000,3.980000,2.306000,2.312,1.99
Slack,44.700000,55.300000,58.700,24.400000,6.900000,4.900000,4.400,NaN
Uber,36.733333,63.266667,49.400,31.366667,5.766667,8.566667,4.300,NaN
Yahoo!,37.000000,62.400000,47.400,41.800000,4.000000,2.000000,2.000,1.00
Yelp,54.000000,46.000000,62.000,15.000000,10.000000,6.000000,5.000,NaN
eBay,41.200000,58.800000,56.600,30.600000,5.000000,5.600000,1.000,NaN